
@font-face {
  font-family: 'Acrom';
  src: url('../fonts/Acrom-Bold.woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Acrom';
  src: url('../fonts/Acrom-ExtraBold.woff') ;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Acrom';
  src: url('../fonts/Acrom-Regular.woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Acrom';
  src: url('../fonts/Acrom-Medium.woff');
  font-style: normal;
  font-weight: 500;
}
