
.sec2 {
  @extend %main-container;
  margin-bottom: 75px;
}

.list_w1-item {
  display: flex;
}

.img_w1 {
  width: 342px;
  height: 198px;
}

.img_w1 img {
  width: 100%;
  height: 100%;
}

.list_w1 {
  width: 450px;
  display: flex;
  height: 200px;
  flex-wrap: wrap;
}

.flex_img-list {
  display: flex;
  justify-content: space-between;
}

.text_w1 {
  width: 200px;
  @extend %Acrom-Regular;
}

.text_w1--2 {
  width: 123px
}
.text_w1--3 {
  width: 140px
}
.sprite_w1 {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  margin-right: 13px;
}

.sprite-sec2_001 {
  width: 9px;
  height: 31px;
  background-position: -5px -5px;
  background-color: $color-orange;
}

.sprite-sec2_002 {
  width: 9px;
  height: 33px;
  background-position: -24px -5px;
  background-color: $color-orange;
}

.sprite-sec2_003 {
  width: 9px;
  height: 32px;
  background-position: -43px -5px;
  background-color: $color-orange;
}

.header_w1 {
  @include title-h3(466px);
  margin-bottom: 50px;
}

.lw2 {margin-left: 20px}

.bloc-item_sec2 {
  width: 266px;
  display: flex;
}

.header2s2 {
  @extend %title-h2;
  color: #fff;
  width: 565px;
  margin-bottom: 50px;
}


.wrappers2w3 {
  display: flex;
  flex-wrap: wrap;
}

.s2box1{
  @extend %Acrom-ExtraBold;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  width: 70px;
  line-height: 1.5;
}

.s2box2{
  @extend %Acrom-ExtraBold;
  text-transform: uppercase;
  width: 184px;
  line-height: 1.5;
}

.s2box3{
  @extend %Acrom-Regular;
  line-height: 1.5;
}

.img_list--s2 {
  margin-right: 20px;
}

.wrapper1s2 {
  margin-bottom: 143px
}

.bloc-item_sec2 {
  margin-bottom: 30px;
  margin-right: 16px;
}
